:root {
    --mainRed: #DC4133;
    --mainDarkblue:#2A2F36;
    --mainWhite: #ffffff;
    --mainGrey: #707070;
}
body {
    margin: 0;
    overflow-x:hidden;
    background: var(--mainDarkblue); /* Makes the background to the color mainDarkblue*/
}